/* line 43, ../sass/fonts/_fonts.scss */
.stranger {
  font-family: "Stranger", serif;
}

/* line 1, ../sass/custom/_globals.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/custom/_globals.scss */
html {
  font-size: 100%;
}

/* line 9, ../sass/custom/_globals.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* line 16, ../sass/custom/_globals.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Archer", serif;
  font-weight: 400;
}

/* line 20, ../sass/custom/_globals.scss */
h1 {
  font-size: 32px;
}

/* line 21, ../sass/custom/_globals.scss */
h2 {
  font-size: 24px;
}

/* line 22, ../sass/custom/_globals.scss */
h3 {
  font-size: 18.72px;
}

/* line 23, ../sass/custom/_globals.scss */
h4 {
  font-size: 16px;
}

/* line 24, ../sass/custom/_globals.scss */
h5 {
  font-size: 13.28px;
}

/* line 25, ../sass/custom/_globals.scss */
h6 {
  font-size: 10.72px;
}

/* line 27, ../sass/custom/_globals.scss */
h1, h2, h3 {
  color: #009660;
}

/* line 31, ../sass/custom/_globals.scss */
a {
  color: #009660;
  text-decoration: none;
}
/* line 34, ../sass/custom/_globals.scss */
a:hover, a:visited, a:active, a:focus {
  color: #00633f;
}

/* line 132, ../sass/custom/_mixins.scss */
input.form-control::-webkit-input-placeholder {
  color: white;
}
/* line 135, ../sass/custom/_mixins.scss */
input.form-control:-moz-placeholder {
  color: white;
}
/* line 138, ../sass/custom/_mixins.scss */
input.form-control::-moz-placeholder {
  color: white;
}
/* line 141, ../sass/custom/_mixins.scss */
input.form-control:-ms-input-placeholder {
  color: white;
}

/* line 42, ../sass/custom/_globals.scss */
.btn-arrow {
  font-family: "Archer", serif;
  text-transform: uppercase;
}
/* line 45, ../sass/custom/_globals.scss */
.btn-arrow span {
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  padding-left: 6px;
}
/* line 50, ../sass/custom/_globals.scss */
.btn-arrow:hover span {
  padding-left: 10px;
}
/* line 54, ../sass/custom/_globals.scss */
.btn-arrow:before {
  font-family: "FontAwesome";
  content: '\f061';
}

/* line 61, ../sass/custom/_globals.scss */
.nav li > a:focus, .nav li > a:hover, a:focus, a:hover {
  outline-width: 0;
  background: none;
  text-decoration: none;
}

/* line 70, ../sass/custom/_globals.scss */
ul.platforms span {
  font-size: 22px;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 72, ../sass/custom/_globals.scss */
ul.platforms span.fa-pinterest {
  font-size: 26px;
}

/* line 82, ../sass/custom/_globals.scss */
.share-container {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: visible;
  height: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/* line 90, ../sass/custom/_globals.scss */
a.share {
  padding: 0 4px;
}
/* line 92, ../sass/custom/_globals.scss */
a.share span {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #f8f2e5;
  color: #009660;
  background: #3e88c8;
  text-align: center;
  font-size: 16px;
  width: 32px;
  height: 32px;
}

/* line 104, ../sass/custom/_globals.scss */
.addtoany_list.a2a_kit_size_32 a > span {
  border-radius: 50%;
  border: 2px solid #f8f2e5;
  color: #009660;
  background: #3e88c8;
}

/* line 110, ../sass/custom/_globals.scss */
.share-menu {
  display: none;
}

/* line 111, ../sass/custom/_globals.scss */
.cbox-hidden {
  display: none;
}

/* line 113, ../sass/custom/_globals.scss */
.cbox-inline {
  padding: 2%;
  background: #f8f2e5;
}
/* line 114, ../sass/custom/_globals.scss */
.cbox-inline .title {
  margin-top: 0;
  font-family: "Archer", serif;
  color: #009660;
}
